<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div id="timelineBox" layout="row" layout-align="center center" layout-margin>
  <div style="line-height:40px;" flex='10'>
    {{bla.start_time | date:'dd-MM-yyyy'}}
  </div>
  <div id="timelineChart" flex ='80'>
    <div id="timelineBar" ng-style="{'width' : getPosition()+'%'}"></div>
    <div id="timelineEvents" ng-repeat="item in getWeeks" ng-style="{'left' : getPosition(item.delivery_date)+'%'}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
      <span ng-show="hoverEdit" class="animate-show">
        <div class="timelineEventBox" ng-if="$index == 0" ng-bind-html="(item.delivery_date | date : 'dd-MM-yyyy').toString()+' às '+ (item.delivery_date | date : 'HH.mm').toString()+ 'h' + '<br> primeira semana!'"></div>
        <div class="timelineEventBox" ng-if="$index > 0" ng-bind-html="(item.delivery_date | date : 'dd-MM-yyyy').toString()+' às '+ (item.delivery_date | date : 'HH.mm').toString()+'h' "></div>
      </span>
    </div>
  </div>
  <div style="line-height:40px;" flex='10'>
    {{bla.end_time | date:'dd-MM-yyyy'}}
  </div>
</div>
