<div layout="row" flex style="overflow:hidden;height:100%;">

  <md-sidenav amep-sidebar ng-if="currentSession.id"
              layout="column" class="md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-md')">
  </md-sidenav>



  <div layout="column" class="relative" flex  role="main">


    <div  flex="none" style="height:50px;position: absolute; top:0; left:0;z-index:3;" hide-gt-md ng-if="currentSession.id">

      <md-button ng-click="$mdSidenav('left').toggle()" aria-label="Menu" class="sidenav-left-toggle" >
        <ng-md-icon icon="menu"></ng-md-icon> MENU
      </md-button>
    </div>
    <div class="md-default-theme" flex layout="column" ui-view style="overflow-y:auto"></div>
  </div>

</div>
