<div layout="row" layout-wrap>


  <div class="flip-container" flip-card flex="33" layout-padding>
    <div class="flipper">
      <div class="front" layout="column">
        <md-whiteframe class="md-whiteframe-2dp" style="background:#fff;" flex layout-padding layout-margin>
          <h3 class="md-title">Product xxx</h3>
        </md-whiteframe>
      </div>
      <div class="back" layout="column">
        <md-whiteframe class="md-whiteframe-2dp" style="background:#fff;" flex layout-padding layout-margin>
          <h3 class="md-title">Back</h3>
        </md-whiteframe>
      </div>
    </div>
  </div>


  <div flex="33" layout-padding>
    <md-whiteframe class="md-whiteframe-2dp" flex layout="column" style="background:#fff;" layout-margin>
      <h3 class="md-title">Product title</h3>
    </md-whiteframe>
  </div>
  <div flex="33" layout-padding>
    <md-whiteframe class="md-whiteframe-2dp" flex layout="column" style="background:#fff;" layout-margin>
      <h3 class="md-title">Product title</h3>
    </md-whiteframe>
  </div>

  <div flex="33" layout-padding>
    <md-whiteframe class="md-whiteframe-2dp" flex layout="column" style="background:#fff;" layout-margin>
      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>
    </md-whiteframe>
  </div>

  <div flex="33" layout-padding>
    <md-whiteframe class="md-whiteframe-2dp" flex layout="column" style="background:#fff;" layout-margin>
      <h3 class="md-title">Product title</h3>
    </md-whiteframe>
  </div>

  <div flex="33" layout-padding layout>
    <md-whiteframe class="md-whiteframe-2dp" flex layout="column" style="background:#fff;" layout-margin>
      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>
    </md-whiteframe>
  </div>

  <div flex="33" layout-padding layout>
    <md-whiteframe class="md-whiteframe-2dp" flex layout="column" style="background:#fff;" layout-margin>
      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>
    </md-whiteframe>
  </div>


  <div flex="33" layout-padding layout>
    <md-whiteframe class="md-whiteframe-2dp" flex layout="column" style="background:#fff;" layout-margin>
      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>

      <h3 class="md-title">Product title</h3>
    </md-whiteframe>
  </div>


</div>


<style>

</style>
