<!--sobre o grupo. informação generica.. <br>
- onde e quando se encontram <br>
- dados <br>
- membros ?
-->

<md-content>
  <md-list>
    <md-list-item layout-padding class="md-3-line" ng-repeat="groupProssumer in groupProssumers">
      <div class="md-list-item-text">
        <h3>{{groupProssumer.prossumer.name}}</h3>
        <h4>{{groupProssumer.prossumer.email}}</h4>
      </div>
      <div ng-if="coordinator">
      <md-button class="md-primary" ng-if="groupProssumer.state == 1"
                 ng-click="showConfirm({title: 'Ativar o prossumer ',name: groupProssumer.prossumer.name,
                 type: 'enableProssumer',groupId: groupProssumer.group_id,groupProssumerId: groupProssumer.id})">
        Aceitar
      </md-button>
        <md-button class="md-primary" ng-if="groupProssumer.state == 0"
                   ng-click="showConfirm({title: 'Ativar o prossumer ',name: groupProssumer.prossumer.name,
                 type: 'enableProssumer',groupId: groupProssumer.group_id,groupProssumerId: groupProssumer.id})">
          Ativar
        </md-button>
      <md-button class="md-primary" ng-if="groupProssumer.state == 2"
                 ng-click="showConfirm({title: 'Remover o prossumer ',name: groupProssumer.prossumer.name,
                 type: 'disableProssumer',groupId: groupProssumer.group_id,groupProssumerId: groupProssumer.id})">
        Remover
      </md-button>
      <md-button class="md-primary" ng-if="!groupProssumer.is_coordinator && groupProssumer.state == 2"
                 ng-click="showConfirm({title: 'Colocar como coordenador o prossumer ',name: groupProssumer.prossumer.name,
                 type: 'enableCoordinator',groupId: groupProssumer.group_id,groupProssumerId: groupProssumer.id})">
        Tornar coordenador
      </md-button>
        <md-button class="md-primary" ng-if="groupProssumer.is_coordinator && groupProssumer.state == 2"
                   ng-click="showConfirm({title: 'Remover como coordenador o prossumer ',name: groupProssumer.prossumer.name,
                   type: 'disableCoordinator',groupId: groupProssumer.group_id,groupProssumerId: groupProssumer.id})">
          Remover coordenador
        </md-button>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>

