<md-content layout-fill layout="column" layout-align="center center" class="md-default-theme">

  <md-card class="md-whiteframe-2dp">
    <md-card-content layout-padding>
      <form name="loginForm" layout="column" style="width:250px">
        <h1 class="md-title">Iniciar sessão</h1>
        <md-input-container>
          <label>Email</label>
          <input ng-model="email" type="email" name="email" ng-required="true" autofocus  >
        </md-input-container>

        <md-input-container>
          <label>Palavra-passe</label>
          <input ng-model="password" type="password" name="password" ng-required="true">
        </md-input-container>
        <md-input-container>

          <md-switch style="margin:0;"
                     ng-model="vm.activated"
                     ng-change="vm.toggleActivation()"
                     aria-label="Enable Indicators">
            Manter sessão iniciada
          </md-switch>


        </md-input-container>

        <div flex="none" layout="column">
          <div style="color:#f00;min-height:20px;">{{errorMessage}}</div>
          <md-button style="margin-left:0; margin-right:0;"
                     class="md-raised md-primary"
                     ng-disabled="!loginForm.$valid"
                     ng-click="login(email,password)"
                     flex>Iniciar Sessão
          </md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>

  <div style="padding-top:10px;">
    <a ui-sref="signUp">Criar conta</a>
  </div>
</md-content>
