<div style="width: 100%; background-color: #f2f1f1">
  <div class="myWrap">
    <div class="myHead" layout="row" layout-align="center center">
      <div flex style="font-family: 'Lobster', cursive; color: #1e999d; font-size: 45px;" href="/">
        Amep
      </div>
      <div flex="15" style="text-align:right; font-family: 'Quicksand', sans-serif;">
        <a ui-sref="contacts">contacte-nos</a>
      </div>
      <div flex="15" style="text-align:right; font-family: 'Quicksand', sans-serif;">
        <a ui-sref="login">iniciar sessão</a>
      </div>
    </div>
    <div class="myBodyIndex">
      <div class="myRegister" layout="row" ng-if="!flagReg">
        <div flex>
          <h1>Já se registou?</h1>
          <h2>Registe-se aqui</h2>
        </div>
        <div class="myRegisterForm" flex >
          <form name="signUpForm" layout="column" layout-align="space-between stretch">
            <input placeholder="NOME" ng-model="name" type="text" name="name" ng-required="true">
            <input placeholder="EMAIL" ng-model="email" type="email" name="email" ng-required="true">
            <div layout="row">
              <input flex placeholder="PALAVRA-PASSE" ng-model="password" type="password" name="password" ng-required="true">
              <input flex placeholder="REPETIR PALAVRA-PASSE" ng-model="confirm_password" type="password" name="password" ng-required="true">
            </div>
            <div layout="row">
              <input  style="width:51.8%;" placeholder="CONTACTO TELEFÓNICO" ng-model="phone" type="text" name="text" ng-required="true">
              <md-button
              class="botao1"
              ng-disabled="!signUpForm.$valid"
              ng-click="signUp(name,email,password,phone)">
              Registar
            </md-button>
          </div>

        </form>
      </div>
    </div>
    <div class="myRegisterEnd" ng-if="flagReg">
      <img ng-src="registoConcluido.png" width="50%">
    </div>
    <div class="myAbout" layout="column">
      <div flex style="text-align: right">
        <h1>Um pouco de história</h1>
        Inspirada nas iniciativas AMAP (Associações para a Manutenção da Agricultura de Proximidade) – nascidas  em França em 2002, com o objectivo de apoiar pequenos produtores que pratiquem e ofereçam produtos de agricultura biológica num contexto de proximidade com o grupo de consumidores -, a AMEP introduz a possibilidade de aquisição de produtos com moeda social em detrimento do euro.
      </div>
      <div flex style="text-align: left">
        <h1>Um pouco de história</h1>
        Inspirada nas iniciativas AMAP (Associações para a Manutenção da Agricultura de Proximidade) – nascidas  em França em 2002, com o objectivo de apoiar pequenos produtores que pratiquem e ofereçam produtos de agricultura biológica num contexto de proximidade com o grupo de consumidores -, a AMEP introduz a possibilidade de aquisição de produtos com moeda social em detrimento do euro.
      </div>
    </div>
  </div>
</div>
</div>
