<div layout-fill layout="column" layout-align="center center" class="md-default-theme" ng-if="!showConfirmationMessage">
  <md-card class="md-whiteframe-1dp" style="width:350px;">
    <md-card-content layout-padding>
      <form name="signUpForm" layout="column">
        <h1 class="md-title">Criar conta</h1>
        <md-input-container>

          <label>Nome</label>
          <input ng-model="name" type="text" name="name" ng-required="true">

          <!--
          <div class="custom-messages">
            <div ng-repeat="message in errorMessages.name">{{message}}</div>
          </div>-->


        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input ng-model="email" type="email" name="email" ng-required="true">


          <!--
          <div class="custom-messages">
            <div ng-repeat="message in errorMessages.email">{{message}}</div>
          </div> -->

        </md-input-container>
        <md-input-container>
          <label>Palavra-passe</label>
          <input ng-model="password" type="password" name="password" ng-required="true">

          <!--Z
          <div class="custom-messages">
            <div ng-repeat="message in errorMessages.password">{{message}}</div>
          </div> -->

        </md-input-container>
        <md-input-container>
          <label>Repetir Palavra-passe</label>
          <input ng-model="confirm_password" type="password" name="password" ng-required="true">
        </md-input-container>
        <md-input-container>
          <label>Telefone ou telemóvel</label>
          <input ng-model="phone" type="text" name="text" ng-required="true">

          <div class="custom-messages">
            <div ng-repeat="message in errorMessages.phone">{{message}}</div>
          </div>

        </md-input-container>
        <div layout="column">
          <div style="min-height:20px;">

          </div>
          <md-button style="margin-left:0; margin-right:0;" type="button"
                     class="md-raised md-primary"
                     ng-disabled="!signUpForm.$valid"
                     ng-click="signUp(name,email,password,phone)">
            Criar conta
          </md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
  <div style="padding-top:10px;">
    <a ui-sref="login">Já tenho conta, iniciar sessão</a>

  </div>
</div>

<div layout-fill layout="column" layout-align="center center" class="md-default-theme" ng-if="showConfirmationMessage">
  <md-card class="md-whiteframe-1dp" style="width:450px;">
    <md-card-content layout-padding>
      <h1 class="md-title">Conta criada com sucesso</h1>

      <p>
        A tua conta encontra-se criada. <br>
        Por favor consulta o e-mail que acabamos de te enviar na tua caixa de entrada em <b>{{ email }}</b> e clica em
        <b>Ativar
          conta</b>.
      </p>

      <p>
        Até já!
      </p>
    </md-card-content>
  </md-card>
</div>
