<md-content layout-padding>
  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Perfil">
      <md-content class="md-padding">
        <form name="userProfileForm" flex-gt-md>

          <md-input-container flex>
            <label>Nome</label>
            <input ng-model="name" type="text" name="name" ng-required="true">
          </md-input-container>


          <md-input-container flex>
            <label>Contacto de telefone ou telemóvel</label>
            <input ng-model="phone" type="text" name="phone" ng-required="false">
          </md-input-container>

          <md-input-container flex layout="row">
            <md-button type="button"
                       class="md-raised md-primary"
                       ng-disabled="isProfileChangeDisable()"
                       ng-click="saveProfileChanges($event)"
                       layout-padding>Guardar
            </md-button>
          </md-input-container>

        </form>
      </md-content>
    </md-tab>

    <md-tab label="Palavra-passe">
      <md-content class="md-padding">
        <form name="userPasswordForm" flex-gt-md>

          <md-input-container flex>
            <label>Palavra-passe actual</label>
            <input ng-model="currentPassword" type="password" required>
          </md-input-container>

          <md-input-container flex>
            <label>Nova palavra-passe</label>
            <input ng-model="newPassword" type="password" required>
          </md-input-container>

          <md-input-container flex layout="row">
            <md-button type="button"
                       class="md-raised md-primary"
                       ng-disabled="!userPasswordForm.$valid"
                       ng-click="savePasswordChanges($event)"
                       layout-padding>Guardar
            </md-button>
          </md-input-container>

        </form>
      </md-content>
    </md-tab>

  </md-tabs>

  <style>md-tabs-canvas{background: #4CAF50;}</style>

</md-content>

