<div layout-fill layout="column" layout-align="center center" class="md-default-theme">


  <md-card class="md-whiteframe-1dp" style="width:450px;">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Contacte-nos</span>
        <!--        <span class="md-subhead">Card subheader</span> -->
      </md-card-title-text>
    </md-card-title>
    <br>
    <md-card-content>
      <form name="contactForm" layout="column">
        <md-input-container ng-if="!currentSession.id">
          <label>Nome</label>
          <input ng-model="msg.nome" type="text" name="nome" ng-required="true"/>
        </md-input-container>

        <md-input-container ng-if="!currentSession.id">
          <label>Email</label>
          <input ng-model="msg.email" type="text" name="email" ng-required="true"/>
        </md-input-container>

        <md-input-container ng-if="!currentSession.id">
          <label>Telemóvel</label>
          <input ng-model="msg.tlm" type="text" name="tlm" ng-required="false"/>
        </md-input-container>

        <md-input-container>
          <label>Assunto</label>
          <input ng-model="msg.assunto" type="text" name="assunto" ng-required="true"/>

        </md-input-container>
        <div class="custom-messages">
          <div ng-repeat="message in errorMessages.assunto">{{message}}</div>
        </div>

        <md-input-container>
          <label>Mensagem</label>
          <textarea ng-model="msg.myMessage" type="text" name="myMessage" columns="1" md-maxlength="150" rows="5"
                    ng-required="true"></textarea>

        </md-input-container>
        <div class="custom-messages">
          <div ng-repeat="message in errorMessages.myMessage">{{message}}</div>
        </div>
      </form>
      <div style="color:#fff">{{error}}</div>
      <md-button style="margin-left:0; margin-right:0;width:100%;" type="button"
                 class="md-raised md-primary"
                 ng-disabled="!contactForm.$valid"
                 ng-click="contactSend(msg.nome, msg.email, msg.tlm, msg.assunto, msg.myMessage)">
        Enviar
      </md-button>
    </md-card-content>
  </md-card>
</div>


