
<div style=" padding-left: 100px; padding-right: 100px" ng-if="stats.length > 0">
  <md-card style="max-width: 900px">
    <md-card-content style="text-align: center">
      <div class="chartTitle">Produtos produzidos e consumidos</div>
      <div ng-controller="BarCtrl">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="label1" chart-legend="true" chart-series="series"></canvas>
      </div>
    </md-card-content>
  </md-card>
  <md-card style="max-width: 900px;">
    <md-card-content style="text-align: center">
      <div class="chartTitle">Euros VS Ecos</div>
      <div ng-controller="LineCtrl">
      <canvas id="line" class="chart chart-line" chart-data="data2" chart-labels="label1" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
    </div>
    </md-card-content>
  </md-card>
</div>

<div ng-if="stats.length == 0"
     style="font-size:32px; color:#999; text-align:center; max-width:700px;margin:50px auto;">
  Ainda não existem estatisticas disponiveis para este grupo.
</div>
