
<div style=" padding-left: 100px; padding-right: 100px">
  <md-card style="max-width: 900px">
    <md-card-content style="text-align: center">
      <h2 style="font-size: 20px">Produtos produzidos e consumidos</h2>
      <div ng-controller="BarCtrl">
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="label1" chart-legend="true" chart-series="series"></canvas>
      </div>
    </md-card-content>
  </md-card>
  <md-card style="max-width: 900px;">
    <md-card-content style="text-align: center">
      <h2 style="font-size: 20px">Euros VS Ecos</h2>
      <div ng-controller="LineCtrl">
      <canvas id="line" class="chart chart-line" chart-data="data2" chart-labels="label1" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
    </div>
    </md-card-content>
  </md-card>
</div>
