<div style="width: 100%; background-color: #f2f1f1">
  <div class="myWrap">
    <div class="myHead" layout="row" layout-align="center center">
      <div flex style="font-family: 'Lobster', cursive; color: #1e999d; font-size: 45px;" href="/">
        Amep
      </div>
      <div flex="15" style="text-align:right; font-family: 'Quicksand', sans-serif;">
        <a ui-sref="contacts">contacte-nos</a>
      </div>
      <div flex="15" style="text-align:right; font-family: 'Quicksand', sans-serif;">
        <a ui-sref="login">iniciar sessão</a>
      </div>
    </div>
    <div class="myBodyIndex">
      <div class="myRegister" layout="row" ng-if="!flagReg">
        <div flex>
          <h1>Já se registou?</h1>
          <h2>Registe-se aqui</h2>
        </div>
        <div class="myRegisterForm" flex >
          <form name="signUpForm" layout="column" layout-align="space-between stretch">
            <input placeholder="NOME" ng-model="name" type="text" name="name" ng-required="true">
            <input placeholder="EMAIL" ng-model="email" type="email" name="email" ng-required="true">
            <div layout="row">
              <input flex placeholder="PALAVRA-PASSE" ng-model="password" type="password" name="password" ng-required="true">
              <input flex placeholder="REPETIR PALAVRA-PASSE" ng-model="confirm_password" type="password" name="password" ng-required="true">
            </div>
            <div layout="row">
              <input  style="width:51.8%;" placeholder="CONTACTO TELEFÓNICO" ng-model="phone" type="text" name="text" ng-required="true">
              <md-button
              class="botao1"
              ng-disabled="!signUpForm.$valid"
              ng-click="signUp(name,email,password,phone)">
              Registar
            </md-button>
          </div>

        </form>
      </div>
    </div>
    <div class="myRegisterEnd" ng-if="flagReg">
      <img ng-src="registoConcluido.png" width="50%">
    </div>
    <div class="myAbout" layout="column">
      <div flex style="text-align: right" layout="row">
        <div flex>
        </div>
        <div flex>
          <h1>Um pouco de história</h1>
          Inspirada nas iniciativas AMAP (Associações para a Manutenção da Agricultura de Proximidade) – nascidas  em França em 2002, com o objectivo de apoiar pequenos produtores que pratiquem e ofereçam produtos de agricultura biológica num contexto de proximidade com o grupo de consumidores -, a AMEP introduz a possibilidade de aquisição de produtos com moeda social em detrimento do euro.
        </div>
      </div>
      <div flex style="text-align: left" layout="row">
        <div flex>
          <h1>O que é a AMEP</h1>
          Em 2014 a Moving Cause propõe a criação da <b>Associação pela Manutenção da Economia de Proximidade</b> (AMEP), uma rede de consumo, produção e distribuição local de alimentos no âmbito da economia solidária no Porto.<br>
          Serão assim distribuídos cabazes que podem ser adquiridos num modelo misto de moeda convencional (vulgo euro) e social (ecosol), fomentando a circulação de ecosois e o fortalecimento da economia de proximidade no centro do Porto.
        </div>
        <div flex>
        </div>
      </div>
      <div flex style="text-align: right" layout="row">
        <div flex>
        </div>
        <div flex>
          <h1>Funcionamento base</h1>
          Será constituído um grupo de consumidores que se compromete, com frequência regular e por um período de tempo previamente acordado, a receber cabazes de produtos diversos (como hortícolas, fruta, pão, leite vegetal, compotas e outras conservas, flores, sabonetes, etc).

Será incentivado o papel activo dos consumidores na economia solidária, podendo cada um ser também produtor, contribuindo assim para a criação de uma rede de produção local. Contudo, um consumidor não tem obrigatoriedade de produzir, embora deva colocar sempre à disposição da economia solidária mais alargada algum tipo de serviço que possa ser do interesse da rede “ecosol”.

Todas as transações deverão ser feitas, pelo menos parcialmente, em moeda ecosol. Serão privilegiados produtos que possam ser transacionados em ecosois em detrimento do euro.

Todos os elementos da AMEP, consumidores ou produtores, darão um contributo monetário para um fundo da associação de forma a cobrir custos de administração e despesas relacionadas com a promoção e dinamização da AMEP.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
