<md-dialog aria-label="New Product">
  <md-content class="md-padding" layout-margin style="min-width:500px;">
    <h1 class="md-title">Novo produto</h1>

    <form name="newProductForm" layout="column">
      <md-input-container><label>Nome</label>
        <input ng-model="product.title" ng-required="true"
               placeholder="Por exemplo: tomate cereja, bolachas com pepitas de chocolate ...">
      </md-input-container>
      <md-input-container><label>Descrição</label>
        <textarea ng-model="product.description" columns="1" md-maxlength="300"
                  placeholder="Apresenta uma pequena descrição que melhor caraterize o produto"></textarea>
      </md-input-container>
      </md-input-container>
      <div layout="row">
        <md-select ng-required="true" flex ng-model="product.product_category_id" aria-label="Selecione produto">
          <md-option ng-repeat="productCategory in productCategories" ng-value="productCategory.id">
            {{productCategory.name}}
          </md-option>
        </md-select>
        <md-input-container flex><label>Unidade</label>
          <input ng-model="product.unit" ng-required="true" type="text">
        </md-input-container>
      </div>

    </form>
  </md-content>
  <md-dialog-actions layout="row"><span flex></span>
    <md-button ng-click="cancel()"> Cancel</md-button>
    <md-button ng-click="!newProductForm.$valid || ok()" class="md-primary" ng-disabled="!newProductForm.$valid"> Save</md-button>
  </md-dialog-actions>
</md-dialog>
