<md-toolbar class="md-tall" flex="none" layout="row" layout-align="center start">
  <h1  flex style="max-width:1200px;padding-top:50px;padding-left: 30px; margin:0; font-size:28px;">Meus produtos</h1>
</md-toolbar>
<div layout-padding layout="row" layout-wrap>

  <p flex ng-if="products.length == 0" class="text-center"
     style="font-size:32px; color:#999; max-width:700px;margin:50px auto;">
    Clica no botão + para poderes adicionar produtos à tua lista pessoal
  </p>

  <div ng-repeat="product in products |orderBy:'created_at':true"
       ng-include="'shared/products/product-tile.html'"
       flex-sm="100" flex-md="33" flex-gt-md="25">

  </div>


  <div layout="row" style="position:fixed; bottom:3%; right:3%;">
    <md-fab-speed-dial ng-click="newProduct($event)">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
      </md-fab-trigger>
    </md-fab-speed-dial>
  </div>
</div>
