<md-card ng-repeat="week in weeks" layout-padding layout="column">
  <md-card-header layout-padding>
    <md-card-header-text layout="row" >
      <div flex>
        <h3>Grupo {{week.cycle.group.name}}</h3>
        <h4>{{week.cycle.id}}º Ciclo | {{week.number}}ª Semana</h4>
        <div class="glyphicon glyphicon-calendar"> {{week.delivery_date.split("T")[0]}}</div>
        <div style="padding-left: 30px" class="glyphicon glyphicon-time"> {{week.delivery_date.split("T")[1].split(".")[0]}}</div>
      </div>
      <div>
        <md-card>
          <md-content layout-padding>
            <b>Ecos</b> {{4}}
          </md-content>
        </md-card>
      </div>
    </md-card-header-text>
  </md-card-header>
  <md-content>
    <md-card>
      <h4 layout-padding>Encomendas</h4>
      <table class="table">
        <thead>
        <tr>
          <th>Produto</th>
          <th>Produtor</th>
          <th>Quantidade</th>
          <th>Ecos</th>
          <th>Euros</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="purchase in week.purchases">
          <td>{{purchase.stock.product.title}}</td>
          <td>{{purchase.stock.product.prossumer.name}}</td>
          <td>{{purchase.quantity}} ({{purchase.stock.product.unit}})</td>
          <td>{{purchase.quantity * purchase.stock.unit_price_euros}}</td>
          <td>{{purchase.quantity * purchase.stock.unit_price_ecos}}</td>
        </tr>
        </tbody>
      </table>

    </md-card>

    <md-card>
      <h4 layout-padding>Entregas</h4>
      <table class="table">
        <thead>
        <tr>
          <th>Produto</th>
          <th>Comprador</th>
          <th>Quantidade</th>
          <th>Ecos</th>
          <th>Euros</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sale in week.sales">
          <td>{{sale.stock.product.title}}</td>
          <td>{{sale.prossumer.name}}</td>
          <td>{{sale.quantity}} ({{sale.stock.product.unit}})</td>
          <td>{{sale.quantity * sale.stock.unit_price_euros}}</td>
          <td>{{sale.quantity * sale.stock.unit_price_ecos}}</td>
        </tr>
        </tbody>
      </table>

    </md-card>

  </md-content>

</md-card>



