<md-whiteframe class="md-whiteframe-2dp">
  <md-toolbar style="background-color: #F3F3F3" class="md-tall" flex="none" layout="row" layout-align="center start">
    <h1 flex style="color: black; max-width:1200px; padding-top:50px; padding-left:30px; margin:0; font-size:28px;">
      Agenda</h1>
  </md-toolbar>
</md-whiteframe>

<md-card ng-repeat="week in weeks">
  <div layout-padding layout="row">
    <div flex>
      <h3>Grupo {{week.cycle.group.name}}</h3>
      <h4>{{week.cycle.id}}º Ciclo | {{week.number}}ª Semana</h4>

      <div layout-padding class="glyphicon glyphicon-calendar">
        {{week.delivery_date.split("T")[0]}}
      </div>
      <br>

      <div layout-padding class="glyphicon glyphicon-time">
        {{week.delivery_date.split("T")[1].split(".")[0]}}
      </div>
    </div>
    <div>
      <md-card>
        <md-card-content>
          <table class="table">
            <tbody>
            <tr>
              <td><strong>Ecos</strong></td>
              <td>{{signedValue(week.cycle.balance.sales.ecos - week.cycle.balance.purchases.ecos)}}</td>
            </tr>
            <tr>
              <td><strong>Euros</strong></td>
              <td>{{signedValue(week.cycle.balance.sales.euros - week.cycle.balance.purchases.euros)}}</td>
            </tr>
            </tbody>
          </table>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <md-content layout-padding layout="row" layout-wrap>
    <div layout="column" flex="100" flex-gt-sm="50">
      <h4>Encomendas</h4>
      <md-content>
        <table class="table">
          <thead>
          <tr>
            <th>Produto</th>
            <th>Produtor</th>
            <th>Quantidade</th>
            <th>Ecos</th>
            <th>Euros</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="purchase in week.purchases">
            <td>{{purchase.stock.product.title}}</td>
            <td>{{purchase.stock.product.prossumer.name}}</td>
            <td>{{purchase.quantity}} ({{purchase.stock.product.unit}})</td>
            <td>{{purchase.quantity * purchase.stock.unit_price_euros}}</td>
            <td>{{purchase.quantity * purchase.stock.unit_price_ecos}}</td>
          </tr>
          </tbody>
        </table>
      </md-content>
    </div>

    <div layout="column" flex="100" flex-gt-sm="50">
      <h4>Entregas</h4>
      <md-content>
        <table class="table">
          <thead>
          <tr>
            <th>Produto</th>
            <th>Comprador</th>
            <th>Quantidade</th>
            <th>Ecos</th>
            <th>Euros</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="sale in week.sales">
            <td>{{sale.stock.product.title}}</td>
            <td>{{sale.prossumer.name}}</td>
            <td>{{sale.quantity}} ({{sale.stock.product.unit}})</td>
            <td>{{sale.quantity * sale.stock.unit_price_euros}}</td>
            <td>{{sale.quantity * sale.stock.unit_price_ecos}}</td>
          </tr>
          </tbody>
        </table>
      </md-content>
    </div>

  </md-content>

</md-card>



