<div>
  <div style="width: 100%;" layout="row">
    <div flex>
    </div>
    <md-select ng-model="cycleSelected" aria-label="seleciona o ciclo" md-on-close="mudaSemana()">
      <md-option ng-value="cycle" ng-repeat="cycle in cycles | orderBy:'-start_time'"> {{cycle.start_time | date:'dd-MM-yyyy'}}</md-option>
    </md-select>
  </div>
</div>


  <timeline bla="cycleSelected" estado="whatState(cycleSelected)">
  </timeline>


<div style="margin-top: 74px;">
  <md-card style="width:98.5%">
    <md-content>
      <div layout="column" layout-align="space-around stretch" ng-repeat="week in getWeeks" ng-if="week.stocks.length != 0">
        <div class="semana-titulo" layout="row">
          <div flex style="font-family: 'Montserrat', sans-serif; font-size: 20px">SEMANA {{week.number}}</div>
          <div flex='15' style="text-align: right; font-family: 'PT Sans', sans-serif;">{{week.delivery_date | date: 'dd-MM-yyyy'}}</div>
        </div>
        <div class="tabela-head" layout="row" layout-align="space-around stretch">
          <div flex>
            PRODUTO
          </div>
          <div flex>
            PRODUTOR
          </div>
          <div flex>
            PREÇO
          </div>
          <div flex='50' layout="row" layout-align="space-around stretch">
            <div flex>
              CONSUMIDOR
            </div>
            <div flex>
              QUANTIDADE
            </div>
            <div flex>
              TOTAL
            </div>
          </div>
        </div>

        <div class="tabela-body"  ng-repeat="stock in week.stocks | orderBy: 'stock.product.title'" ng-if="stock.orders.length != 0" style="margin-left: 29px; margin-right: 29px;">
          <md-divider></md-divider>
          <div layout="row">

          <div flex>
            {{ stock.product.title }}
          </div>
          <div flex>
            {{ stock.product.prossumer.name }}
          </div>
          <div flex>
            {{ week.stocks[0].unit_price_euros | currency:'€':2 }} + {{ stock.unit_price_ecos | currency:'E':2}} <br> /{{stock.product.unit}}
          </div>

          <div flex='50'>
            <div layout="column" layout-align="center stretch" ng-repeat="order in stock.orders" >
              <div layout="row" layout-align="center stretch">
                <div flex>
                  {{ order.prossumer.name }}
                </div>
                <div flex>
                  {{ order.quantity}}
                </div>
                <div flex>
                  {{ stock.unit_price_euros * order.quantity | currency:'€':2 }} + {{ stock.unit_price_ecos * order.quantity | currency:'E':2}}
                </div>
              </div>
            </div>
          </div>

        </div>
        </div>

        </div>

      <div layout="column" layout-align="space-around stretch" ng-repeat="week in getWeeks" ng-if="week.stocks.length == 0">
        <div class="semana-titulo" layout="row">
          <div flex style="font-family: 'Montserrat', sans-serif; font-size: 20px">SEMANA {{$index+1}}</div>
          <div flex='15' style="text-align: right">{{week.delivery_date | date: 'dd-MM-yyyy'}}</div>
        </div>
        <div style="font-family: 'Montserrat', sans-serif; text-align: center">Não existem encomendas nesta semana</div>
      </div>
    </md-content>
  </md-card>
</div>
