<div class="md-toolbar-tools" layout="column">
  <md-button flex="none" href="/" style="font-size:26px;">AMEP</md-button>
  <span flex></span>
  <md-button flex="none" ui-sref="contacts">Contactos</md-button>

  <md-button flex="none" ui-sref="groups">Grupos AMEP</md-button>

  <md-button flex="none" ui-sref="login" class="md-raised" ng-if="!currentSession.id">
    <ng-md-icon icon="login" size="20"></ng-md-icon>
    Iniciar sessão
  </md-button>
  <md-button flex="none" ui-sref="signUp" ng-if="!currentSession.id">Criar conta
  </md-button>

  <md-button flex="none" ui-sref="agenda" class="md-raised"  ng-if="currentSession.id">
    <ng-md-icon icon="home" size="20"></ng-md-icon>
    Início
  </md-button>
</div>
