<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div>
  <table ng-repeat="week in getWeeks">
    <tr ng-repeat="stock in week.stocks">
      <td>{{ stock.product.title }}</td>
      <td>{{ stock.product.prossumer.name }}</td>
      <td>{{ stock.unit_price_euros | currency:'€':2 }} + {{ stock.unit_price_ecos | currency:'E':2}} <br> {{stock.product.unit}}</td>
      <td>
        <table>
          <tr ng-repeat="order in stock.orders">
            <td>{{ order.prossumer.name }}</td>
            <td>{{ order.quantity}}</td>
            <td>{{ stock.unit_price_euros * order.quantity | currency:'€':2 }}</td>
            <td>{{ stock.unit_price_ecos * order.quantity | currency:'E':2}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
lulu
