table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}


#timelineBox{
  height:120px;
  background:#fff;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  color: #282C34;
}

#timelineChart {
  top:0;
  margin:15px 0;
  height:2px;
  position: relative;
  background:#EFEFEF;
  z-index:10;
}

#timelineBar {
  top: -23px;
  height:50px;
  position: absolute;
  left:0;
  bottom: 0;
  background:#324155;
  z-index: -10;
}

#timelineEvents {
  position: absolute;
  top:-30px;
  bottom:-32px;
  border-right:3px solid #ED6E4E;
  decoration: none;
}

.timelineEventBox {
	font-size: 1.2em;
	position: absolute;
	background: #ffffff;
	border: 1px solid #C7C7C7;
	top: 40px;
	width: 200px;
	left: -20px;
	padding: 5px;
  content: " ";
  z-index: 10000;
  opacity: 0.9;
}

#timelineEvents:hover span {
  /*
  display: block;
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  */
}
