<md-whiteframe class="md-whiteframe-2dp">
  <md-toolbar class="md-tall" flex="none" layout="row" layout-align="center start">
    <h1 flex style="max-width:1200px; padding-top:50px; padding-left:30px; margin:0; font-size:28px;">
      Agenda</h1>
  </md-toolbar>
</md-whiteframe>

<!--
<div id="owl-example" class="owl-carousel" owl>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>
-->
<div ng-if="groups.length == 0 && weeks.length == 0" style="font-size:32px; color:#999; text-align:center; max-width:700px;margin:50px auto;">
    Clica em «Procurar Grupos» na barra lateral para escolheres o grupo ao qual pretendes aderir.
</div>

<div ng-if="groups.length > 0 && weeks.length == 0" style="font-size:32px; color:#999; text-align:center; max-width:700px;margin:50px auto;">
    Todas as uma trocas que combines surgirão nesta página, para que nunca te esqueças de nada.
</div>


<md-content style="background-color: inherit">


  <md-card ng-repeat="week in weeks">
    <div layout-padding layout="row">
      <div flex>
        <h3>Grupo {{week.cycle.group.name}}</h3>
        <h4>{{week.cycle.id}}º Ciclo | {{week.number}}ª Semana</h4>

        <div layout-padding class="glyphicon glyphicon-calendar">
          {{week.delivery_date.split("T")[0]}}
        </div>
        <br>

        <div layout-padding class="glyphicon glyphicon-time">
          {{week.delivery_date.split("T")[1].split(".")[0]}}
        </div>
      </div>
      <div>
        <table class="table" style="font-size: small">
          <thead>
          <tr>
            <th>Balanço do ciclo</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="eurosBalance">{{signedValue(week.cycle.balance.sales.euros - week.cycle.balance.purchases.euros)}}
              Euros
            </td>
          </tr>
          <tr>
            <td id="ecosBalance">{{signedValue(week.cycle.balance.sales.ecos - week.cycle.balance.purchases.ecos)}}
              Ecos
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div layout-padding>
      <md-content layout-padding layout="row" layout-wrap>
        <div layout="column" flex="100" flex-gt-sm="50">
          <h4>Encomendas</h4>
          <md-content>
            <table class="table">
              <thead>
              <tr>
                <th>Produto</th>
                <th>Produtor</th>
                <th>Quantidade</th>
                <th>Euros</th>
                <th>Ecos</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="purchase in week.purchases">
                <td>{{purchase.stock.product.title}}</td>
                <td>{{purchase.stock.product.prossumer.name}}</td>
                <td>{{purchase.quantity}} ({{purchase.stock.product.unit}})</td>
                <td>{{purchase.quantity * purchase.stock.unit_price_euros}}</td>
                <td>{{purchase.quantity * purchase.stock.unit_price_ecos}}</td>
              </tr>
              </tbody>
            </table>
          </md-content>
        </div>

        <div layout="column" flex="100" flex-gt-sm="50">
          <h4>Entregas</h4>
          <md-content>
            <table class="table">
              <thead>
              <tr>
                <th>Produto</th>
                <th>Comprador</th>
                <th>Quantidade</th>
                <th>Euros</th>
                <th>Ecos</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="sale in week.sales">
                <td>{{sale.stock.product.title}}</td>
                <td>{{sale.prossumer.name}}</td>
                <td>{{sale.quantity}} ({{sale.stock.product.unit}})</td>
                <td>{{sale.quantity * sale.stock.unit_price_euros}}</td>
                <td>{{sale.quantity * sale.stock.unit_price_ecos}}</td>
              </tr>
              </tbody>
            </table>
          </md-content>
        </div>

      </md-content>
    </div>

  </md-card>
</md-content>


