.myWrap{
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.myBodyIndex{
  padding-top: 120px;
  overflow: scroll;
}
.myRegister h1{
  color: #656565;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.myRegister h2{
  color: #656565;
  font-size: 50px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
}
.myRegisterForm input{
  height: 70px;
  padding-left: 20px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 2px;
  border: none;
}
.myLoginForm input{
  height: 70px;
  padding-left: 20px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 2px;
  border: none;
}
.myWrapSidebar0{
  padding-left: 7%;
  padding-right: 7%;
  height: 100%;
}
.myWrapSidebar hr{
  color: #1e999d;
  background-color: #1e999d;
  border-color: #1e999d;
}
.myWrapSidebar h4{
  color:#1e999d;
  font-size: 12px;
}
.myGroupToolbar1{
  background-color: #1e999d;
}
md-ink-bar{
  color: #fff !important;
  background-color: #fff !important;
}
.myLoginForm textarea{
  height: 150px;
  padding-left: 20px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 2px;
  border: none;
}
.myRegisterEnd{
  text-align: center;
}
.myAbout{
  padding-top: 50px;
  display: inline;
  color: #656565;
}
.myAbout h1{
  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-size: 40px;
}
.botao1{
  font-family: 'PT Sans', sans-serif;
  font-size: 35px;
  background-color: #1e999d;
  color: #fff;
  width: 50%;
  height: 70px;
}
.botao1[disabled]{
  font-family: 'PT Sans', sans-serif;
  font-size: 35px;
  background-color: #1e999d;
  color: #000;
  width: 50%;
}
.semana-titulo {
  background-color: #1e999d;
  height: 50px;
  color: #FFFFFF;
  margin: 5px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 50px;
}

.chartTitle{
  width:100%;
  height:50px;
  line-height: 50px;
  background-color: #324155;
  color:#FFFFFF;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
}

.tabela-head{
  margin-left: 29px;
  margin-right: 29px;
  margin-bottom: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
.tabela-body{
  font-family: 'PT Sans', sans-serif;
}


#cycleTable {
  background-color: #FFFFFF;
  text-align:center;
  width: 98%;
  //margin-left: 20%;
}

#cycleTable > table > tr > td{
  //margin: 15px 0;
}

$gray: #eee;

div.md-default-theme, md-content.md-default-theme {
  background-color: $gray;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}

h2 {
  font-weight: 400;
}

md-content.md-hue-3{
  color:#fff;
}

.md-toolbar-tools-bottom {
  font-size: small;
  color:#fff;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}

.user-avatar {
  border-radius: 99%;
}

body.no-sidenav-left {
  .sidenav-left-toggle {
    display: none;
  }

  md-sidenav.md-sidenav-left {
    display: none !important;
  }
}

body {
  position: relative;
  overflow: hidden;
}

.custom-messages {
  position: relative;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
  min-height: 24px;
  color:#f00;
}

a, a:hover, a:focus, a:active, a:visited{
  color:#000;
}

md-sidenav .md-button.active{
  background: #F3F3F3;
}

md-sidenav a.active, md-sidenav a.active:hover{
  cursor:default;
  text-decoration:none;
  color:#555;
}

md-toolbar.md-hue-2 .md-button.md-raised{
  color:#000;
}



.number-chip{
  border-radius: 999px;
  text-align:center;
  font-size:15px;
  line-height:30px;
  background: rgb(230, 230, 230);
  color:#676767;
  width:30px;
  height:30px;
  display:inline-block;
  margin:0 5px;
}
.number-chip:first-child{
  margin-left:0;
}

.page-wrapper{
  max-width:1200px;
  margin:0 auto;
}



md-checkbox{
  margin-bottom:0!important; /** fix for new angular-material **/
}



@media (min-width: 333px) {
  md-toolbar md-pagination-wrapper{
    min-width:333px!important;
  }
}
/*
md-sidenav + div > md-content{
  background:#000!important;
  color:#fff!important;
}*/


ng-md-icon[size="16"]{
  height:16px;
  width:16px;
}

ng-md-icon[size="18"]{
  height:18px;
  width:18px;
}

md-tooltip{
  font-size:13px;
}
