$gray: #eee;

div.md-default-theme, md-content.md-default-theme {
  background-color: $gray;
}

md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}

h2 {
  font-weight: 400;
}

md-content.md-hue-3{
  color:#fff;
}

.md-toolbar-tools-bottom {
  font-size: small;
  color:#fff;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}

.user-avatar {
  border-radius: 99%;
}

body.no-sidenav-left {
  .sidenav-left-toggle {
    display: none;
  }

  md-sidenav.md-sidenav-left {
    display: none !important;
  }
}

body {
  position: relative;
  overflow: hidden;
}

.custom-messages {
  position: relative;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
  min-height: 24px;
  color:#f00;
}

a, a:hover, a:focus, a:active, a:visited{
  color:#000;
}

md-sidenav .md-button.active{
  background: #F3F3F3;
}

md-sidenav a.active, md-sidenav a.active:hover{
  cursor:default;
  text-decoration:none;
  color:#555;
}

md-toolbar.md-hue-2 .md-button.md-raised{
  color:#000;
}



.number-chip{
  border-radius: 999px;
  text-align:center;
  font-size:16px;
  line-height:32px;
  background: rgb(230, 230, 230);
  color:#676767;
  width:32px;
  height:32px;
  font-weight:bold;
  display:inline-block;
  margin:0 2px;
}


.page-wrapper{
  max-width:1200px;
  margin:0 auto;
}



md-checkbox{
  margin-bottom:0!important; /** fix for new angular-material **/
}



@media (min-width: 333px) {
  md-toolbar md-pagination-wrapper{
    min-width:333px!important;
  }
}
/*
md-sidenav + div > md-content{
  background:#000!important;
  color:#fff!important;
}*/
